@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* GLOBAL STYLES */
* { margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;}  
 
.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    }
    
.purple {
    color: #6415ff;
}    
.nav__row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
    display:flex;
    justify-content: space-between;
}

/* LANDING */

.nav__logo {
    display: flex;
    align-items: center;
}
.nav__logo--img {
    width: 40px;
    height: 40px;
 }
.company__title {
    font-size: 24px;
    font-weight: 900;
    color: #6030b1;
    margin-left:12px;
    padding-bottom: 2px;
    }
   
h1, h2, h3, h4, h5, h6, span {
    color: #242424;
    line-height: 1.25 ;
}    

li {
    list-style: none;
}

nav {
    height: 100px;
    width: 100%;
}
/* Links */
.nav_links {
    display: flex;
    align-items: center;
}
 
.nav_link--anchor {
    margin: 0 12px;
    color: #242424;
    text-decoration: none;
    font-weight: 700;
    padding: 8px 12px;
}
.nav_link--anchor-primary {
    background-color: #6030b1;
    padding: 8px 20px;
    border-radius: 50px;
    color: #fff;
    transition: background-color #5d3eff 300ms ease;
}
.nav_link--anchor-primary:hover {
    background-color: #5d3eff;
}
/* FEATURES */
